html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.splitpanes .splitpanes--horizontal .splitpanes__pane {
  transition: height .2s ease-out;
}

.splitpanes--vertical .splitpanes__splitter {
  transition: opacity .3s ease-out;
}

.splitpanes--vertical .splitpanes__splitter {
  opacity: 10%;
  border-width: 3px;
  border-color: #bbb;
}

.splitpanes--vertical .splitpanes__splitter:hover {
  opacity: 100;
}
